<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="style.css">
</head>

<body>
  
  <div class="main-container">
    <div class="blur-circle1">
  
    </div>
    <div class="blur-circle2">
  
    </div>
      <!-- Start Landing Page -->
  <div class="landing-page">
    <header>
      <div class="container">
        <a class="logo">Khomchan S. <b>Intro Website</b></a>
        <ul class="links">
        
            <form id="indexBtn" action="/index" method="get">
                <input class="button"type="submit" value="Back to index" />
            </form> 
          
        </ul>
      </div>
    </header>
    
    <div class="content">
        
      <div class="container">
        <!-- <h1 style="color: white;">About me</h1> -->
        <div class="info" style="position:absolute">
          <!-- <h1>About me</h1> -->
          <!-- <h1 style="padding-bottom:5vh"> Final project </h1>
          <h2 style="color: white;"> CI/CD platform </h2> -->
        </div>
        <div class="box" style="position:relative">
            <h1 style="padding-bottom:2%; font-size: 36px; padding-top:2%"> Profile </h1>
            <p style="font-size: 26px"> Khomchan Sasanatayat</p>
            <p style="font-size: 26px"> University : Thammasart University</p>
            <p style="font-size: 26px"> Institute  : Computer Engineering </p>
            <h1 style="padding-bottom:2%; font-size: 36px; padding-top:2%"> Final project </h1>
            <p style="margin-bottom: 1vh; font-size: 26px"> CI/CD platform</p>
            <img src="workflow.png" alt="ci/cd workflow" width="100%" height="50%">
        </div>
      </div>
    </div>

  </div>
  <!-- End Landing Page -->
  </div>
  
  <script src="script.js"></script>
</body>
</html>