<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style_insert.css">
</head>
<body>
    <div class="mid_page">
        <h1>Insert New Category</h1>
        <form action="/insert_data" method="post">
            <label for="category_id" style="color: white;">Category ID:</label>
            <input type="number" id="category_id" name="category_id" required><br><br>
            <label for="name" style="color: white;">Name:</label>
            <input type="text" id="name" name="name" required><br><br>
            <input type="submit" value="Submit">
        </form>
    </div>

</body>
</html>