<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Category</title>
    <link rel="stylesheet" href="style_insert.css">
</head>
<body>
    <div class="mid_page">
        <h1 style="text-align: center;">Update Category</h1>
        <form action="/update_data" method="post">
            <label for="name" style="color: white;">Changed name:</label>
            <input type="text" id="name" name="name" required><br><br>
            <input type="hidden" id="category_id" name="category_id" value="<%= category_id %>">
            <input type="submit" value="Update">
        </form>
    </div>
</body>
</html>
